NODE_ENV=development
LOG_LEVEL=info
PORT=3000
MONGODB_URI=mongodb://localhost:27017/yt_proxy
YOUTUBE_API_BASE_URL=https://www.googleapis.com/youtube/v3
YOUTUBE_API_KEY=replace_with_your_youtube_api_key
